body{
    background-color: #ffe6c7;
    margin-left: 40px;
    margin-right: 40px;
}

h3{

    font-size: 30px;
}

input{
    color: brown;
}

.but2{
    text-decoration: none;
    border: 1px solid black;
    background-color: olivedrab;
    color: #ffe6c7;
    padding: 3px;
}

.butD{
    text-decoration: none;
    border: 1px solid black;
    background-color: #8e2323;
    color: #ffe6c7;
    padding: 3px;
}

.text{
    text-decoration: none;
    border: none;
    padding: 0;
    background-color: #ffe6c7;
    color: brown;
}